<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="questionapp.richard.dev.com.questionapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Permissions declared to be used in application -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Sets minimum and target Sdk versions for application -->
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <!-- Defines application activities -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Question App"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".IntroductionActivity"
            android:label="Question App"
            android:configChanges="orientation|screenSize">
            <!-- Declaration of activity to be launched on app start up -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Questions"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".IntroductionActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroductionActivity" />
        </activity>
        <activity
            android:name=".ProfileCard"
            android:label="Profile Card"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".IntroductionActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroductionActivity" />
        </activity>
        <activity
            android:name=".HighScoreActivity"
            android:label="High Scores"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".IntroductionActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroductionActivity" />
        </activity>
    </application>

</manifest>
